/*-----QFrame----*/
QFrame
{
    background-color: rgba(125, 125, 125, 160);
    border: 2px solid green;
    border-radius: 10px;
    padding: 2px;
}


/*-----QLabel-----*/
QLabel
{
	background-color: transparent;
	border: none;
	color: rgb(200, 200, 200);

}


